
.banner--card{
    /* display: flex; */
    flex: 0 0 auto;
    /* flex-direction: column; */
    gap: 10px;
    max-width: 290px;
    padding: 12px;
    border-radius: 12px;
    color: #D9D9D9;
    border: 1.5px solid #FBB12C;
    background-color: #1D232A;
  }
  .banner--row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .banner--row > img {
    flex-shrink: 0;
  }
  .banner--col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .banner--col > h1 {
    color: #fafafa;
    font-size: 20px;
    font-weight: 600;
    line-height: 10px;
  }
  .banner--col p {
    font-size: 15px;
  }
  
  .banner {
    width: 100%;
  }

  /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.reviews::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.reviews {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}