.card-link {
    text-decoration: none;
    display: block;
}
.card-wrapper {
 display: flex;
 flex-direction: column;
 gap: 4px;
 margin-bottom: 18px;
}

.cards-container {
    display: flex;
    overflow-x: auto;
    max-width: 600px;
    width: 100%;
    gap: 16px;
    padding: 10px;
    border-radius: 8px;
}

.cards-container::-webkit-scrollbar {
    display: none;
  }

.card {
    min-width: 150px;
    flex: 0 0 auto;
    padding: 20px;    
    text-align: center;
    border-radius: 24px;    
    border: 1.5px solid #FBB12C;
    background-color: #1D232A;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.card-heading {
    margin: 10px 0 5px;
    font-size: 1.2em;
    font-weight: 500;
    /* color: #333; */
    color: #f6f6f6;
}

.card-subheading {
    font-size: 0.9em;
    color: #ccc;
}
